<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
    <title>Document</title>
</head>

<body>
    {{> navBar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center" style="margin-top: -10rem;">
                        <figure class="errorFour">
                            <img src="assets/404.png" alt="error404" class="img-fluid" title="AsadKhan">
                        </figure>

                        <p>404: Page Not Available.</p>
                        <h1>Click <span class="text_clr"> below button </span> to go Home</h1>
                        <a href="/"><button class="wbtn">Go back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>bodyLinks}}
</body>

</html>