<!DOCTYPE html>
<html lang="en">

<head>
    {{>headLinks}}
    <title>About Us</title>
</head>

<body>
    {{> navBar}}

    <!-- Main Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="assets/about.png" alt="aboutImage" class="img-fluid" title="AsadKhan">
                        </figure>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to my weather app</p>
                        <h1>I am a <span class="text_clr"> mern stack </span> developer</h1>
                        <a href="https://www.linkedin.com/in/asad-khan-43b1a2209/" target="_blank"><button class="wbtn">About Me</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    {{>bodyLinks}}
</body>

</html>